

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
}

body
    {min-height: 100vh;
    background-color: #E3AA24;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all cubic-bezier(0.91, 1, 1, 1.17);
}

p{
    transition: all 0.3s cubic-bezier(0.43, 1.41, 0.55, 1.01);
    transform: scaleY(0);
}